<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>FlagshipShipping</name>
    <displayName><![CDATA[FlagShip For PrestaShop]]></displayName>
    <version><![CDATA[1.0.0]]></version>
    <description><![CDATA[Send your shipments with FlagShip now. Drop the hassle of figuring out the best prices. Get real time prices from major courier service providers. Your customers will never have to deal with a delayed delivery again. A happy customer is a happy You!]]></description>
    <author><![CDATA[FlagShip Courier Solutions]]></author>
    <tab><![CDATA[shipping_logistics]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to uninstall?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>0</need_instance>
	<limited_countries></limited_countries>
</module>
